#angle-popup {
	display: flex;
	flex-direction: column;
	align-items: center;

    position: absolute;
	@media screen and (max-width: 480px) {
		top: 40px;
	}
	@media screen and (min-width: 480px) {
		top: 65px;
	}
    right: 0;
	z-index: 999;

	width: 314px;
	max-width: 100%; /* a voir */
	max-height: 254px;
	
	border-radius: 0 0 0 45px;

    background-color: var(--popup);
}

#angle-popup-title {

	padding-top: 10px;
	margin-bottom: 4px;

	font-size: 24px;
	text-align: center;
	font-weight: 500;
}
#angle-popup-title-username {
	font-weight: bold;
}

#angle-popup-content {
	padding-bottom: 12.5px;

	width: 100%;
	min-height: 3px;
	max-height: 210px;

	border-radius: 0 0 0 45px;

	overflow-y: scroll;
}

.section {
	display: flex;
	align-items: center;

	width: 100%;
	height: 48px;

	font-size: 18px;
}
.section:hover > img {
	opacity: 1;
	transition: opacity 0.3s;
}
.section > img {
	margin-left: 40px;
	margin-right: 40px;

	width: 34px;
	height: 34px;

	opacity: 0.5;
	transition: opacity 0.3s;
}