.pic {
	display: flex;
	flex-direction: column;

	position: relative;

	margin-top: 15px;
	margin-bottom: 10px;

	width: 97.46%;
	min-width: 97.46%;
	aspect-ratio: 48/61;

	border-radius: 22.5px 45px 22.5px 45px;

	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip {
	transform: rotateY(180deg);
}

.pic-recto, .pic-verso {
	position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}
.pic-verso {
    transform: rotateY(180deg);
}

.pic-header {
	display: flex;
	align-items: center;

	width: 100%;
	height: 10.66%;

	font-size: 4vw;
	text-align: center;
}

.pic-header-user-datas {
	display: flex;
	align-items: center;

	width: 100%;
	height: 100%;
}
.pic-header-user-datas > img {

	margin-left: 2.29%;

	width: 11.18%;
	height: 64.66%;
	
	border-radius: 50%;

}
.pic-header-user-datas > p {
	margin-left: 2.5%;
}

.pic-header-stats {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	width: 100%;
	height: 100%;

	font-weight: 550;
}

.pic-header-icons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-right: 5%;

	width: 21.46%;
	height: 100%;
}
.pic-header-icons > button {

	height: 58.46%;
	aspect-ratio: 29/35;

}

.pic-image {

	width: 100%;
	aspect-ratio: 1;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

.pic-footer {

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
	width: 100%;
	height: 10.66%;
}
.pic-footer > button {
	height: 58.46%;
}