:root {

	/* BACKGROUNDS */
	--body: #121212;
	--navbar: #222222;
	--popup: #222222;

	/* BUTTONS */
	--button: #222222;

	/* FONTS */
	--text: white;
	--text-alt: black;
	--text-link: #f5e3a9;
	--text-hover: #f4cc93;

	/* BORDER */
	--border: #7D7D7D;

	/* FORM */
	--form-input: #333333;
	--form-button: #7F7F7F;
}