:root {

	/* BACKGROUNDS */
	--body: #121212;
	--navbar: #222222;

	/* BUTTONS */
	--button: #222222;

	/* FONTS */
	--text: white;
	--text-alt: black;
	--text-link: #f5e3a9;
	--text-hover: #f4cc93;

	/* BORDER */
	--border: #7D7D7D;

	/* WINDOW */
	--window-bg: #222222;
	--window-bg-valid: #27602C;
	--window-avatar-field-border: #333333;
	--window-input: #333333;
	--window-input-error: #761d1d;
	--window-button: #cacaca80;
	--window-button-red: #602727;
	--window-button-cursor: #ffffff;
	--window-button-off: #4F4F4F;
	--window-button-on: #49A953;
}