.comment {
	display: flex;
	align-items: start;

	padding-bottom: 3.21%;

	width: 100%;
	min-height: 33px;
}
.comment > img {
	margin-left: 1.71%;
	margin-right: 3.33%;

	width: 32px;
	aspect-ratio: 1;
	
	border-radius: 50%;
}

.comment-text {
	display: flex;
	flex-direction: column;

	width: 100%;

	font-size: 14px;

}
.comment-text-username {
	font-weight: bold;
	cursor: default;
}