.comment {
	display: flex;
	align-items: start;

	padding-bottom: 3.21%;

	min-height: 33px;
}
.comment > img {
	margin-left: 1.71%;
	margin-right: 3.33%;

	width: 32px;
	aspect-ratio: 1;
	
	border-radius: 50%;
}

.comment-text {
	display: flex;
	flex-direction: column;

	padding-right: 20px;

	width: 80%;

	font-size: 14px;

}
.comment-text-username {
	width: auto;

	font-size: clamp(11.5px, 5vw, 14px);
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}
.comment-text-content {
	font-size: clamp(11.5px, 5vw, 14px);
}