#create-button-3 {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 16px;

	width: 468px;
	height: 93px;
	min-height: 93px;

	border-radius: 45px;

	font-size: 36px;
	font-weight: 300;

	background-color: var(--button);

	transition: 0.15s ease;

}
#create-button-3:hover {
	transform: scale(1.05);
}

#create-button-3 > div {
	display: flex;
}
#create-button-3-word-1 {
	color: #FF8383;
	animation: scroll-color-word-1 5s step-start infinite;
}
#create-button-3-word-2 {
	color: #FDFF83;
	animation: scroll-color-word-2 5s step-start infinite;
}
#create-button-3-word-3 {
	color: #9CFF83;
	animation: scroll-color-word-3 5s step-start infinite;
}
#create-button-3-word-4 {
	color: #83A5FF;
	animation: scroll-color-word-4 5s step-start infinite;
}
#create-button-3-word-5 {
	color: #D783FF;
	animation: scroll-color-word-5 5s step-start infinite;
}

#create-button-3:hover #create-button-3-word-1 {
	animation: scroll-color-word-1 0.75s step-start infinite;
}

#create-button-3:hover #create-button-3-word-2 {
	animation: scroll-color-word-2 0.75s step-start infinite;
}

#create-button-3:hover #create-button-3-word-3 {
	animation: scroll-color-word-3 0.75s step-start infinite;
}

#create-button-3:hover #create-button-3-word-4 {
	animation: scroll-color-word-4 0.75s step-start infinite;
}

#create-button-3:hover #create-button-3-word-5 {
	animation: scroll-color-word-5 0.75s step-start infinite;
}

/* MOBILE */
@media screen and (max-width: 480px) {
	#create-button-3 {
		display: none;
	}
}