#create-button-6 {
	/* MOBILE */
	@media screen and (max-width: 480px) {
		display: none;
	}

	margin-bottom: 16px;

	width: 468px;
	height: 93px;
	min-height: 93px;

	border-radius: 45px;

	font-size: 36px;
	font-weight: 600;

	background: linear-gradient(to right,
		#FF0000 0%, #FF0000 20%,
		#FFA800 20%, #FFA800 40%,
		#00AD11 40%, #00AD11 60%,
		#1F5EFF 60%, #1F5EFF 80%,
		#AD00FF 80%, #AD00FF 100%);
	transition: 0.15s ease;

	animation: scroll-background-right 5s step-start infinite;
}
#create-button-6:hover {
	transform: scale(1.05);
	animation: scroll-background-right 1s step-start infinite;
}

@keyframes scroll-background-right {
	0% {
		background: linear-gradient(to right,
		#FFA800 0%, #FFA800 20%,
		#00AD11 20%, #00AD11 40%,
		#1F5EFF 40%, #1F5EFF 60%,
		#AD00FF 60%, #AD00FF 80%,
		#FF0000 80%, #FF0000 100%);
	}
	20% {
		background: linear-gradient(to right,
		#FF0000 0%, #FF0000 20%,
		#FFA800 20%, #FFA800 40%,
		#00AD11 40%, #00AD11 60%,
		#1F5EFF 60%, #1F5EFF 80%,
		#AD00FF 80%, #AD00FF 100%);
	}
	40% {
		background: linear-gradient(to right,
		#AD00FF 0%, #AD00FF 20%,
		#FF0000 20%, #FF0000 40%,
		#FFA800 40%, #FFA800 60%,
		#00AD11 60%, #00AD11 80%,
		#1F5EFF 80%, #1F5EFF 100%);
	}
	60% {
		background: linear-gradient(to right,
		#1F5EFF 0%, #1F5EFF 20%,
		#AD00FF 20%, #AD00FF 40%,
		#FF0000 40%, #FF0000 60%,
		#FFA800 60%, #FFA800 80%,
		#00AD11 80%, #00AD11 100%);
	}
	80% {
		background: linear-gradient(to right,
		#00AD11 0%, #00AD11 20%,
		#1F5EFF 20%, #1F5EFF 40%,
		#AD00FF 40%, #AD00FF 60%,
		#FF0000 60%, #FF0000 80%,
		#FFA800 80%, #FFA800 100%);
	}
	100% {
		background: linear-gradient(to right,
		#FFA800 0%, #FFA800 20%,
		#00AD11 20%, #00AD11 40%,
		#1F5EFF 40%, #1F5EFF 60%,
		#AD00FF 60%, #AD00FF 80%,
		#FF0000 80%, #FF0000 100%);
	}
}