#create-button-1 {
	/* MOBILE */
	@media screen and (max-width: 480px) {
		display: none;
	}

	margin-bottom: 16px;

	width: 468px;
	height: 93px;
	min-height: 93px;

	border-radius: 45px;

	font-size: 36px;
	font-weight: 300;

	background-color: var(--button);

	transition: 0.15s ease;
}
#create-button-1:hover {
	transform: scale(1.05);
}

#create-button-1-word-1 {
	color: #FF8383;
	animation: scroll-color-word-1 5s step-start infinite;
}
#create-button-1-word-2 {
	color: #FDFF83;
	animation: scroll-color-word-2 5s step-start infinite;
}
#create-button-1-word-3 {
	color: #9CFF83;
	animation: scroll-color-word-3 5s step-start infinite;
}
#create-button-1-word-4 {
	color: #83A5FF;
	animation: scroll-color-word-4 5s step-start infinite;
}
#create-button-1-word-5 {
	color: #D783FF;
	animation: scroll-color-word-5 5s step-start infinite;
}

#create-button-1:hover #create-button-1-word-1 {
	animation: scroll-color-word-1 0.75s step-start infinite;
}

#create-button-1:hover #create-button-1-word-2 {
	animation: scroll-color-word-2 0.75s step-start infinite;
}

#create-button-1:hover #create-button-1-word-3 {
	animation: scroll-color-word-3 0.75s step-start infinite;
}

#create-button-1:hover #create-button-1-word-4 {
	animation: scroll-color-word-4 0.75s step-start infinite;
}

#create-button-1:hover #create-button-1-word-5 {
	animation: scroll-color-word-5 0.75s step-start infinite;
}

@keyframes scroll-color-word-1 {
	0% {
		color: #FF8383;
	}
	20% {
		color: #FDFF83;
	}
	40% {
		color: #9CFF83;
	}
	60% {
		color: #83A5FF;
	}
	80% {
		color: #D783FF;
	}
	100% {
		color: #FF8383;
	}
}

@keyframes scroll-color-word-2 {
	0% {
		color: #D783FF;
	}
	20% {
		color: #FF8383;
	}
	40% {
		color: #FDFF83;
	}
	60% {
		color: #9CFF83;
	}
	80% {
		color: #83A5FF;
	}
	100% {
		color: #D783FF;
	}
}

@keyframes scroll-color-word-3 {
	0% {
		color: #83A5FF;
	}
	20% {
		color: #D783FF;
	}
	40% {
		color: #FF8383;
	}
	60% {
		color: #FDFF83;
	}
	80% {
		color: #9CFF83;
	}
	100% {
		color: #83A5FF;
	}
}


@keyframes scroll-color-word-4 {
	0% {
		color: #9CFF83;
	}
	20% {
		color: #83A5FF;
	}
	40% {
		color: #D783FF;
	}
	60% {
		color: #FF8383;
	}
	80% {
		color: #FDFF83;
	}
	100% {
		color: #9CFF83;
	}
}

@keyframes scroll-color-word-5 {
	0% {
		color: #FDFF83;
	}
	20% {
		color: #9CFF83;
	}
	40% {
		color: #83A5FF;
	}
	60% {
		color: #D783FF;
	}
	80% {
		color: #FF8383;
	}
	100% {
		color: #FDFF83;
	}
}
