#create {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
}

#creator {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;

	height: 100%;

	margin-left: 5px;
	margin-right: 5px;

	overflow-y: scroll;
}

#pic-model {
	margin-top: 10px;
	margin-bottom: 5px;

	aspect-ratio: 468/572;
	height: auto;
}

#canvas {
	display: none;
}

#camera-off {
	display: none;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;

	background-color: black;
	color: var(--text);
}

#video,
#gallery-image,
#preview-image {
	display: none;

	height: 100%;

	overflow: hidden;
}

#preview-bar {
	flex-direction: column;
	align-items: center;
	
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 9px;
	padding-bottom: 9px;

	width: 174.6px;
	height: 470px;

	border-radius: 45px;

	overflow-y: scroll;

	background-color: var(--bar-bg);
}
#preview-bar > .pic.mini {
	margin-top: 9px;
	margin-bottom: 9px;

	width: 108px;
	min-width: 108px;
	max-width: 108px;
	aspect-ratio: 468/572;
}

#sticker-bar {
	align-items: center;

	margin-top: 5px;
	margin-bottom: 5px;

	width: 630.9px;
	height: 75px;

	padding-top: 12px;
	padding-bottom: 13px;
	padding-left: 15.75px;
	padding-right: 15.75px;

	border-radius: 45px;

	overflow-x: scroll;

	background-color: var(--bar-bg);
}
#sticker-bar > .sticker {
	margin-bottom: 0;
	margin-left: 5.75px;
	margin-right: 5.75px;

	height: 75px;
	min-height: 75px;
}

#preview-sticker-bar {
	flex-direction: column;

	margin-top: 5px;
	margin-bottom: 5px;

	width: 85%;
	height: 126px;
}

#preview-sticker,
#previews,
#stickers {
	display: flex;
	align-items: center;

	width: calc(100% - 15.5px);
	height: 65px;

	padding-top: 12px;
	padding-bottom: 13px;
	padding-left: 7.75px;
	padding-right: 7.75px;

	border-radius: 45px 45px 0 0;

	overflow-x: scroll;

	background-color: var(--bar-bg);
}
#stickers {
	display: none;
}
#previews {
	display: none;
}

#stickers.show,
#previews.show {
	display: flex;
}

#previews > .pic.mini {
	margin-bottom: 0;
	margin-left: 5.75px;
	margin-right: 5.75px;

	width: 59px;
	min-width: 59px;
	max-width: 59px;
	aspect-ratio: 468/572;
}
#stickers > .sticker {
	margin-bottom: 0;
	margin-left: 5.75px;
	margin-right: 5.75px;

	height: 75px;
	min-height: 75px;
}

#preview-sticker-bar-buttons {
	display: flex;

	width: 100%;
	min-height: 36px;
	
	border-radius: 0 0 45px 45px;

	background-color: rgb(93, 93, 149);
}
#preview-sticker-bar-buttons > button {
	background-color: var(--button);
}
#preview-sticker-bar-buttons > button:hover {
	background-color: var(--button-hover);
	transition: 0.3s ease;
}
#stickers-button {
	width: 50%;

	border-radius: 0 0 0 45px;
}
#previews-button {
	width: 50%;

	border-radius: 0 0 45px 0;
}
#mobile-onoff-button {
	display: none;

	width: 10%;
}
#mobile-onoff-button svg {
	width: 90%;
	height: 80%;

	opacity: 1;
}
#mobile-onoff-button.success > svg path {
	fill: var(--window-bg-valid);
	stroke: var(--window-bg-valid);
}
#mobile-onoff-button.error > svg path {
	fill: var(--window-input-error);
	stroke: var(--window-input-error);
}

#action-bar {
	justify-content: space-between;
	align-items: center;

	margin-top: 5px;
	margin-bottom: 10px;

	width: 100%;
}
#action-bar > .window-button {
	margin: 0;
	width: 139px;
	height: 56px;
}

#action-bar-2 {
	justify-content: space-evenly;
	align-items: center;

	margin-top: 5px;
	margin-bottom: 10px;

	width: 100%;
}

#mobile-action-bar {
	justify-content: space-evenly;
	align-items: center;

	margin-top: 5px;
	margin-bottom: 10px;

	width: 100%;
}

.create-little-button {
	padding: 10px;

	width: 50.4px;
	aspect-ratio: 1;

	border-radius: 50%;

	background-color: var(--window-button);
}

.create-medium-button {
	aspect-ratio: 1;

	border-radius: 50%;
	
	background-color: var(--window-button);
}

.create-big-button {
	aspect-ratio: 1;

	border-radius: 50%;
	
	background-color: var(--window-button);
}

/* MOBILE */
@media screen and (max-width: 480px) {
	#create {
		height: 100%;
	}
	#creator {
		justify-content: center;
		
		width: 100%;
	}
	#pic-model {
		min-width: 85%;
	}
	#stickers-button {
		width: 45%;
	}
	#previews-button {
		width: 45%;
	}
	#mobile-onoff-button {
		display: block;
	}
	#action-bar-2 {
		display: none;
	}
	#mobile-action-bar {	
		display: flex;
	}
	.create-medium-button {
		padding: 10px;

		width: 50.4px;
	}
	.create-big-button {
		padding: 12.5px;

		width: 67.5px;
	}
}
/* DESKTOP 1 */
@media screen and (min-width: 480px) and (max-width: 630px) {
	#create {
		height: calc(100% - 65px);
	}
	#creator {
		justify-content: center;

		width: 100%;
	}
	#pic-model {
		max-width: 400px;
	}
	#action-bar-2 {
		display: flex;
	}
	#mobile-action-bar {	
		display: none;
	}
	.create-medium-button {
		padding: 12.5px;

		width: 67.5px;
	}
	.create-big-button {
		padding: 15px;

		width: 90px;
	}
}
/* DESKTOP 2 */
@media screen and (min-width: 630px) {
	#create {
		height: calc(100% - 65px);
	}
	#creator {
		width: 630px;
	}
	#pic-model {
		max-width: 400px;
	}
	#action-bar-2 {
		display: none;
	}
	#mobile-action-bar {	
		display: none;
	}
	.create-medium-button {
		padding: 12.5px;

		width: 67.5px;
	}
	.create-big-button {
		padding: 15px;

		width: 90px;
	}
}


/* DESKTOP 1 - 2 */
@media screen and (max-width: 630px) {
	#preview-bar {
		display: none;
	}
	#sticker-bar {
		display: none;
	}
	#preview-sticker-bar {
		display: flex;
	}
	#action-bar {
		display: none;
	}
}
/* DESKTOP 2 - 2 */
@media screen and (min-width: 630px) {
	#preview-bar {
		display: flex;
	}
	#sticker-bar {
		display: flex;
	}
	#preview-sticker-bar {
		display: none;
	}
	#action-bar {
		display: flex;
	}
}