#feed-header {
	display: flex;
	position: fixed;

	z-index: 1;

	height: 40px;
	min-height: 40px;

	transition: top 0.7s ease;
}

.feed-header-button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	background-color: red;

	white-space: nowrap;
	overflow: hidden;

	font-size: 19.5px;
	background-color: var(--button);
}

.feed-header-button:hover {
	background-color: var(--button-hover);
	transition: 0.3s ease;
}

.feed-header-button-click {
	background-color: #777777;
}

.feed-header-button-blocked {
	background-color: #000000;
}

/* MOBILE */
@media screen and (max-width: 480px) {
	#feed-header-container {
		width: 100%;
		height: 0px;
		min-height: 0px;
	}
	#feed-header {
		width: 100%;
	}

}
/* DESKTOP */
@media screen and (min-width: 480px) {
	#feed-header-container {
		width: 468px;
		min-height: 55.5px;
	}
	#feed-header {
		width: 468px;
	}
	#feed-header-button-foryou {
		border-radius: 0 0 45px 45px;
	}
	#feed-header-button-following {
		border-radius: 0 0 45px 0;
	}

}