#feed {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* MOBILE */
	@media screen and (max-width: 480px) {
		padding-top: 56px;
		height: 100%;
	}
	/* DESKTOP */
	@media screen and (min-width: 480px) {
		padding-top: 66px;
		height: calc(100% - 66px);
	}


	width: 100%;
	height: 100%;

	overflow-y: auto;
}

#pics-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

#refetch-pics-observer {
	min-height: 1px;
}