.following-list {
	@media screen and (max-width: 762px) {
		display: none;
	}
	@media screen and (min-width: 762px) {
		display: flex;
	}

	flex-direction: column;

	margin-left: 8px;


	min-width: 286px;
	max-width: 286px;
	height: 500px;
}

.following-list-title {
	margin-top: 29px;

	font-size: 22px;
}

.following-list-list {
	overflow-y: scroll;
}