.form {
	display: flex;
	flex-direction: column;
	align-items: center;

	/* MOBILE */
	@media screen and (max-width: 480px) {
		min-width: 97.46%;
	}
	/* DESKTOP */
	@media screen and (min-width: 480px) {
		width: 468px;
	}

	border-radius: 45px;

	background-color: var(--popup);
}

.form-title {
	margin-top: 24px;
	margin-bottom: 27px;

	font-weight: 500;
	font-size: 25px;
}

.form-field {
	width: 92.5%;
}
.form > .form-field:not(:last-of-type) {
	margin-bottom: 20px;
}

.form-error-message {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 92.5%;
	height: 67px;

	font-size: 16px;
	text-align: center;
}
.form-button {
	width: 92.5%;
	height: 56px;

	border-radius: 45px;

	font-weight: 700;
	font-size: 18px;

	background-color: var(--form-button);	
}

.form-redirect {
	margin-top: 8px;
	margin-bottom: 6px;

	font-size: 16px;
}
.form-redirect > a {
	font-weight: 500;
}