.button-icon > img {
	width: 100%;
	height: 100%;

	aspect-ratio: 1;
	border-radius: 50%;
}

.button-icon > .icon {
	width: 100%;
	height: 100%;
}

.icon {
	opacity: 0.5;
	transition: opacity 0.3s;
}

.selected,
.selected > svg {
	opacity: 1;
}