/* Logo sur la page d'authentification */
.logo {
	user-select: none;
	cursor: default;

	text-align: center;
	font-family: "Twinkle Star", cursive;
}

/* Logo sur la page d'accueil */
.desktop-navbar > .logo {
	margin-left: 16px;

	cursor: pointer;

	font-size: 48px;
}

@keyframes scroll-color-logo { 
    from {
		background-position:300%;
	}
    to {
		background-position:-200%;
	}
}

/* MOBILE */
@media screen and (max-width: 1080px) { /* 1080px = logo 513px + form 468xp + marge arbitraire */
	.logo {
		font-size: clamp(30px, 10vh, 128px);
	}
}
/* DESKTOP */
@media screen and (min-width: 1080px) {
	.logo {
		font-size: 128px;
	}
}