.main {
	display: flex;
	flex-direction: column;

	width: 100%;
	/* MOBILE */
	@media screen and (max-width: 480px) {
		height: 100%; /* 52px = navbar mobile 52px */
	}
	/* DESKTOP */
	@media screen and (min-width: 480px) {
		height: calc(100% - 65px); /* 65px = navbar desktop 65px */
	}
}