.pic {
	display: flex;
	flex-direction: column;

	position: relative;

	margin-bottom: 25px;

	/* MOBILE */
	@media screen and (max-width: 480px) {
		min-width: 97.46%;
		aspect-ratio: 468/572;
	}
	/* DESKTOP */
	@media screen and (min-width: 480px) {
		width: 468px;
		height: 572px;
	}

	border-radius: 22.5px 45px 22.5px 45px;

	transition: transform 0.6s;
	transform-style: preserve-3d;
}
.pic:is(:last-child) {
	/* MOBILE */
	@media screen and (max-width: 480px) {
		margin-bottom: 77px;
	}
}

.flip {
	transform: rotateY(180deg);
}

.pic-recto, .pic-verso {
	position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}
.pic-verso {
    transform: rotateY(180deg);
}

.pic-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 52px;

	font-size: 16px;
	text-align: center;
}

.pic-header-user-datas {
	display: flex;
	align-items: center;

	width: calc(100% - 80px);
	height: 100%;

	cursor: default;
}
.pic-header-user-datas > img {
	margin-left: 8px;

	width: 34px;
	height: 34px;
	
	border-radius: 50%;

	object-fit: cover;
}
.pic-header-user-datas > p {
	margin-left: 8px;
	margin-right: 8px;

	font-size: clamp(13px, 5vw, 16px);
	overflow: hidden;
	text-overflow: ellipsis;
}

.pic-header-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-right: 13px;
	margin-left: 0;

	height: 100%;
}
.pic-header-icons > button {
	height: 32px;
	aspect-ratio: 29/35;
}
.pic-header-icons > button:not(:first-child) {
	margin-left: 7px;
}
.pic-header-icons > button:not(:last-child) {
	margin-right: 7px;
}

.trash {
	display: none;
}

.pic-body-recto {
	position: relative;
	height: calc(100% - 104px); /* 104px = header 52px + footer-recto 52px */
	max-height: 468px;

	overflow: hidden;
}
.pic-body-recto.model {
	height: calc(100% - 88.88px); /* 104px = header 52px + footer-recto 52px */
	max-height: 400px;

	overflow: hidden;
}
.pic-body-recto img {
	width: 100%;
    height: 100%;
	
    object-fit: cover;

}
.pic-body-recto video {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
    height: 100%;
	
    object-fit: cover;

	transform: scaleX(-1);
}

.pic-footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
	width: 100%;
	height: 52px;
}
.pic-footer > button {
	height: 30px;
}

.like-button > svg > path {
	fill: none;
}

.like-button.like > svg > path {
	fill: red;
}

.pic-header-stats {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	width: calc(100% - 80px);
	height: 100%;

	font-size: clamp(11px, 5vw, 16px);
	font-weight: bold;
	cursor: default;
}

.pic-body-verso {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: calc(100% - 114px); /* 114px = header 52px + footer-verso 62px */
}

#comments-container {
	width: 96.67%;

	padding-top: 1.07%;

	border-radius: 25px;

	overflow-y: scroll;

	background-color: rgba(0, 0, 0, 0.1);
}
#comments-container.empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;

	text-align: center;
}

.pic-footer-verso {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 62px;
}

.pic-input {
	display: flex;
	justify-content: space-between;
	align-items: end;

	position: relative;

	margin-top: 10px;
	margin-bottom: 10px;

	width: 92.5%;
	height: 42px;

	border-radius: 12.5px;

	background-color: rgba(0, 0, 0, 0.25);
}
.pic-input > button {
	align-self: center;

	margin-right: 14px;

	height: 30px;
	aspect-ratio: 1;
}

.pic-input-text {
	margin-left: 16px;
	margin-bottom: 4px;
	
	width: 100%;
	height: 21.5px; /* Taille de base de la textarea avec une font-size de 18px */

	font-size: 18px;
}

.placeholder {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	/* width: 237.63px; /* Taille de la string apres ecriture (arbitraire) PC */
	width: 248px; /* Taille de la string apres ecriture (arbitraire) M3 */

	opacity: 0.5;

	font-size: clamp(10px, 4vw, 16px);
	pointer-events: none;

	transition: 0.5s ease;
}

.reduce {
	left: 0;
	top: 3px;
	transform: translate(0, 0);

	margin-left: 16px;

	font-size: 12px;
}

.pic-header.model,
.pic-footer.model {
	height: 44.44px;
}

.pic.mini {
	width: auto;
	height: auto;
	
	border-radius: 5.77px 11.54px 5.77px 11.54px;

	cursor: pointer;
}
.pic-header.mini {
	height: 10px;
}
.pic-body-recto.mini {
	height: calc(100% - 20px); /* 104px = header 52px + footer-recto 52px */

	overflow: hidden;
}
.pic-body-recto.mini img {
	width: 100%;
    height: 100%;
	
    object-fit: cover;
}
.pic-footer.mini {
	height: 10px;
}