#search-popup {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

    padding-top: 26px;

    position: absolute;
	z-index: 999;

	width: 300px;
	max-width: 100%; /* a voir */
	
	border: solid 2px white;
	border-radius: 45px;
	box-sizing: border-box;

    background-color: var(--window-bg);
}
#search-popup > input[type="text"] {
    width: 100%;

	font-size: 18px;
	text-align: center;
}

.search-results {
	padding-top: 10.5px;
	padding-bottom: 12.5px;

	width: 100%;
	min-height: 3px;
	max-height: 210px;
}

/* MOBILE */
@media screen and (max-width: 480px) {
	#search-popup {
		top: 42px;
		left: 50%;
		transform: translateX(-50%);
	}
}
/* DESKTOP */
@media screen and (min-width: 480px) {
	#search-popup {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}