#settings {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
}

#success-popup {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 336px;
	height: 67px;
}