:root {

	/* BACKGROUNDS */
	--body: #121212;
	--navbar: #222222;
	--popup: #222222;

	/* BUTTONS */
	--button: #222222;

	/* FONTS */
	--text: white;
	--text-alt: black;

	/* BORDER */
	--border: #7D7D7D;
  }