.mobile-navbar {

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	width: 100%;
	height: 52px;

	background-color: var(--navbar);

}

.mobile-navbar-icon {

	display: flex;
	justify-content: center;
	align-items: center;

	width: 9.66%;

	opacity: 0.5;
	transition: opacity 0.3s;

}
.mobile-navbar-icon:hover {
	opacity: 1;
	transition: opacity 0.3s;
}
