.desktop-header {
	@media screen and (min-width: 480px) {
		display: flex;
	}
	@media screen and (max-width: 480px) {
		display: none;
	}

	justify-content: space-between;
	align-items: center;

	z-index: 999;

	width: 100%;
	height: 64px;

	border-bottom: solid 1px var(--border);

	background-color: var(--navbar);
}

#dektop-header-logo {
	margin-left: 16px;

	text-align: center;
	font-family: "Twinkle Star", cursive;
	font-size: 48px;
}

#desktop-header-icons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-right: 16px;

	width: 160px;
}
#desktop-header-icons > button {
	height: 46px;
}